


body {
    background-image: linear-gradient(30deg, rgba(0.5,1,0,0.5), rgba(0.5,0,0,0.2)), url(stock.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

a:hover {
    color: red;

}

div > i {
    cursor: pointer;
}

div > i:hover {
    color: blue;;
}
